form.svelte-1nb5b3t{margin-bottom:10px}h1.svelte-1nb5b3t{color:rgb(218, 217, 221);margin-bottom:0}.wrapper.svelte-1nb5b3t{display:flex;height:100vh;justify-content:center;flex-direction:column;align-items:center;margin-top:-80px}p.svelte-1nb5b3t{margin-top:0;color:rgb(153, 134, 158)
	}button.svelte-1nb5b3t{background-color:rgb(165, 105, 206);border-color:rgb(165, 105, 206);color:rgb(55, 42, 63)}label.svelte-1nb5b3t{color:rgb(153, 134, 158);margin-bottom:5px}#shorturl.svelte-1nb5b3t{text-align:center}.errmsg.svelte-1nb5b3t{background-color:rgb(233, 177, 177);color:rgb(107, 74, 74);padding:3px 5px}

/*# sourceMappingURL=bundle.css.map */